.Hamburguesa {
    width: 100%;
    height: 500px;
    padding: 10px 0 10px 12px;
}
.Bocata {
    width: 100%;
    height: 250px;
    padding: 10px 12px 10px 0;
}
.h2 {
    text-align: center;
    font-family: 'Barlow';
    font-size: 38px;
    font-weight: 900;
    margin: 0;
    padding: 10px 12px 10px 12px;
}
.col-hr {
    height: 70px;
    padding: 10px 12px 10px 12px;
}
.img-destacado {
    width: 100%;
    height: 100%;
    padding: 10px 12px 10px 12px;
}
.bloque-productos {
    padding: 10px 12px 10px 12px;
}
.producto {
    width: 272px;
    height: 368px;
    background-color: black;
    padding: 0 12px;
    margin: 5px;
}
.informacion-producto {
    background-color: red;
    width: 100%;
    height: 100%;
}
.imagen-producto {
    width: 100%;
    height: 50%;
    background-color: green;
}
.datos-producto {
    width: 100%;
    height: 50%;
    background-color: blue;
}
.imagenes-verticales {
    padding: 10px;
}
.izquierda {
    background-color: #F7F7F7;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    padding: 20px;
    margin-bottom: 30px;
}
.izquierda p {
    margin: 0;
}
.derecha {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    padding: 20px;
}
.derecha p {
    margin: 0;
}
h3 {
    padding: 20px 40px 20px 20px;
    margin: 0;
    font-family: 'Barlow';
    font-size: 18px;
    color: black;
}
.hr-marcas {
    margin: 0!important;
}
.h2-marcas {
    text-align: center;
    font-family: 'Barlow';
    font-size: 38px;
    font-weight: 900;
    margin: 0;
    padding: 20px 12px 20px 12px;
}
.img-marca {
    width: 260px;
    min-width: 260px;
    height: 70px;
}
.marca {
    padding: 0;
    max-width: 260px;
}


.antes-footer2 {
    padding: 26px 0 16px 0;
    background-color: #EBEBEB;
    width: 100%;
}
.col-footer2 {
    padding: 0;
}
.h2-servicios {
    text-align: center;
    font-family: 'Barlow';
    font-size: 38px;
    font-weight: 900;
    padding-bottom: 18px;
    margin: 0;
    height: 64.76px;
    width: 100%;
}
.servicio {
    max-width: 130px;
    max-height: 156px;
    margin: 0 49.6625px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.servicio a {
    text-decoration: none;
}
.h3-footer {
    padding: 0;
    width: 100%;
    height: 55px;
    margin: 12px 0;
    font-family: 'Barlow';
    font-size: 16px;
    text-align: center;
}


.footer-final {
    padding: 16px 0;
    background-color: black;
    fill: white;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.footer li {
    width: 32px;
    height: 32px;
    margin: 0 8px;
    color: white;
}
.footer li span{
    display: none;
}
.p-footer-final {
    color: white;
    margin: 0;
    margin-top: 10px;
}



.header {
    height: 92px;
    padding: 16px 24px!important;
    background-color: white!important;
    /* margin: 0 36.4px 0 36.4px;
    padding: 0 32px 0 32px; */
}
.barra-busqueda {
    width: 640px;
    height: 48px;
    padding: 0 48px 0 12px;
    margin: 0!important;
    border: 1px solid #adb1b3;
}
.iconos-header {
    width: 36px;
    height: 36px;
}
.boton-cuenta {
    font-family: 'Barlow';
    font-size: 16px;
    padding: 0 0 0 10px!important;
}
.logo-busqueda {
    display: flex;
}
.logo-busqueda svg {
    padding-right: 16px;
}
.logo-busqueda form {
    font-family: 'Barlow', serif;
    font-size: 25.6px;
    line-height: 1.25;
    font-weight: normal;
}
.div-header {
    padding: 0 40px;
}
.tool-bar1 {
    width: 100%;
    height: 38px;
    padding: 7px 0 0 0;
    background-color: #E20811;
}
.tool-bar1 p {
    text-align: center;
    color: white;
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    height: 19.2px;
}
.tool-bar2 {
    width: 100%;
    height: 38px;
    padding: 8px 56px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: end;
}
.botones-toolbar2 {
    font-family: 'Barlow', serif;
    font-size: 12px;
    font-weight: 700;
    color: #323C41;
    margin-right: 15px;
}
.botones-toolbar2-derecha {
    font-family: 'Barlow', serif;
    font-size: 12px;
    font-weight: 700;
    color: #323C41;
}
.btn-ubicacion {
    margin-bottom: 2px;
    width: 20px;
    height: 20px;
    color: red;
}
.btn-a-toolbar2 {
    text-decoration: none;
    color: #323C41;
}
.c-fluid {
    padding: 0;
}
.navbar-derecha {
    display: flex;
    justify-content: end;
}