* {
    margin: 0;
}
.caja-footer {
    display: flex;
    justify-content: center;
}
.media-container {
    width: 1300px;
    height: 70px;
    margin: 0 70px 20px 70px;
}
.imagen-carousel {
    width: 158.66px;
    min-width: 158.66px;
    height: 70px;
    min-height: 70px;
}
.media-element {
    width: 260px;
    min-width: 260px;
    height: 70px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.media-group {
    display: flex;
    justify-content: center;
    gap: 4px;
}
.footer1 {
    width: 1440px;
    height: 171px;
}
.top-footer1 {
    width: 1440px;
    height: 81px;
    text-align: center;
}
.top-footer1 hr {
    margin-top: 10px;
    margin-bottom: 0;
}
.titulo-footer {
    width: 1440px;
    height: 80px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 0;
    font-family: 'Barlow';
    font-size: 38px;
    font-weight: 900;
}
.footer2 {
    height: 262.76px;
    padding-top: 26px;
    padding-bottom: 16px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    width: 100%;
}
.contenido-footer {
    width: 100%;
    margin: 0 40.8px 0 40.8px;
    padding: 0 32px 0 32px;
}
.caja-titulo-footer2 {
    text-align: center;
    padding-bottom: 18px;
    width: 1376px;
    height: 64.76px;
    max-height: 64.76px;
}
.titulo-footer2 {
    font-family: 'Barlow';
    font-size: 38px;
    font-weight: 900;
    margin: 0;
}
.bloque-servicios {
    width: 1376px;
    height: 156px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.bloque-servicios-contenido {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
}
.bloque-servicios-contenido li {
    list-style-type: none;
}
.bloque-servicios-contenido li a {
    text-decoration: none;
}
.bloque-texto {
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 500 !important;
    text-align: center;
    color: #222221;
    min-height: 55px;
    margin: 12px 0;
}
.hr-widget hr {
    margin-bottom: 10px;
    margin-top: 10px;
}
.contenido-widget {
    width: 100%;
    height: 308px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.section-contenido-widget {
    padding: 0 10px 0 10px;
    width: 720px;
    height: 308px;
}
.section-contenido-widget h3 {
    font-family: 'Barlow';
    font-size: 18px;
    padding: 20px 40px 20px 20px;
    width: 700px;
    height: 61.6px;
}
.texto-widget {
    padding: 20px 20px 20px 20px;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    background-color: #F7F7F7;
}
.opiniones {
    padding: 20px 40px 20px 20px;
}
.texto-mejor-precio {
    width: 1376px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-left: 72.8px;
    margin-right: 72.8px;
}
.texto-mejor-precio h2 {
    font-family: 'Barlow';
    font-size: 38px;
    font-weight: 900;
    margin-bottom: 0;
}
.imagenes-verticales {
    width: 1376px;
    height: 458.66px;
    display: flex;
    justify-content: center;
}
.imagen-vertical {
    width: 458.66px;
    min-width: 458.66px;
    height: 458.66px;
    min-height: 458.66px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 40px;
}
.div-hr {
    width: 1376px;
    height: 70px;
    padding: 10px 10px 10px 10px;
    margin-left: 72.8px;
    margin-right: 72.8px;
}
.div-productos {
    width: 1376px;
    height: 100%;
    padding: 10px 10px 10px 10px;
    margin-left: 72.8px;
    margin-right: 72.8px;
}
.producto {
    width: 272px;
    height: 310px;
    padding: 0 10px 0 10px;
}
.li-producto {
    width: 205px;
    height: 310px;
    margin: 0 20px 0 20px;
    list-style-type: none;
}
.imagen-producto {
    width: 205px;
    height: 205px;
}
.informacion-producto div a{
    width: 205px;
    height: 42px;
    margin: 5px 0 5px 0 ;
}
.precio_producto {
    width: 205px;
    height: 87px;
}
.precio {
    margin: 0;
    padding-top: 18px;
}
.productos {
    display: flex;
}
.nombre-producto {
    font-family: 'Goodhome', sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #333333;
}
.euro {
    font-size: 14.8px;
}
.div-destacado {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.div-destacado div h2 {
    font-family: 'Barlow';
    font-size: 38px;
    font-weight: 900;
    margin: 0;
}
.img-destacado {
    width: 1376px;
    height: 209px;
    padding: 10px 10px 10px 10px;
}
.banner-imagenes {
    display: flex;
    justify-content: center;
}
.Hamburguesa {
    width: 784px;
    height: 500px;
}
.banner-imagenes2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Bocatas {
    width: 554px;
    height: 250px;
}
