body {
    background-color: #EFF0F0!important;
}
.h1 {
    font-family: 'Goodhome', sans-serif!important;
    font-size: 32px!important;
    font-weight: 900!important;
}
.span-h1 {
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
}
.panel-carrito {
    background-color: white;
    max-width: 900.66px!important;
    margin: 0 0 32px!important;
    padding: 8px 32px 24px!important;
}
.panel-finalizar {
    background-color: white;
    width: 438.33px!important;
    height: 365px!important;
    padding: 32px 32px 24px!important;
    margin: 0 0 24px 24px!important;
}
.txt-resumen {
    height: 24px;
    margin: 0 0 24px;
    font-family: 'Goodhome', sans-serif;
    font-size: 20px;
    font-weight: bold;

}
.div-hr {
    margin-top: 15px!important;
}
hr {
    margin: 0!important;
}
.txt-estimacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.txt-estimacion p {
    margin: 0;
    padding: 14px 24px 14px 0;
}
.txt-estimacion img {
    width: 24px;
    height: 24px;
    transform: rotate(270deg);
}
.numeros {
    padding-top: 10px;
    height: 157px;
}
.p-arriba {
    padding: 6px 0;
    margin: 0;
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
}
.total {
    padding: 3px 0 0;
    font-family: 'Goodhome', sans-serif;
    font-size: 18px;
    margin: 0;
}
.boton-carrito1 {
    width: 374.33px!important;
    height: 34px!important;
    border: none;
    border-radius: 4px;
    background-color: #E20811;
    color: white;
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
    font-weight: 900;
    padding: 0;
    margin-top: 16px;
}
.precio {
    margin: 0;
    font-family: 'Goodhome', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.boton-svg {
    width: 24px;
    height: 24px;
}
.texto-mini-logo {
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
}
.mini-logo {
    height: 13px;
    margin-bottom: 9px;
}
.div-carrito-principal {
    width: 552px!important;
}
.div-titulo {
    max-width: 1206px!important;
    padding: 0!important;
}
.imagen-pedido {
    width: 118px;
    height: 108px;
}
.item-carrito {
    height: 153px;
    padding: 20px 0 24px;
    display: flex;
}
.imagen-item-carrito {
    width: 128px;
    height: 108px;
    margin-right: 10px;
}
.nombre-producto {
    width: 100%;
    height: 36px;
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
    margin: 0 0 28px;
    padding: 0 0 8px;
}
.botones {
    display: flex;
    justify-content: space-between!important;
    align-items: center;
    width: auto;
}
.botones-cantidad {
    display: flex;
    align-items: center;
}
.boton-cantidad {
    width: 44px;
    height: 44px;
    border: 1px solid #AEB2B4;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-eliminar {
    width: 44px;
    height: 44px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-eliminar {
    width: 24px;
    height: 24px;
}
.div-precio {
    display: flex;
    justify-content: center;
    align-items: center;
}
.precio-boton {
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
    margin: 0;
}
.div-centro {
    width: 100%!important;
    padding: 32px 0!important;
}
.precios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
}
.precios-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Goodhome', sans-serif;
    font-size: 18px;
    padding: 11px 0;
}
.precios-2 {
    display: flex;
    justify-content: space-between;
    align-items: center!important;
    font-family: 'Goodhome', sans-serif;
    height: 34.5px;
}
.total {
    padding: 3px 0 0;
    font-family: 'Goodhome', sans-serif;
    font-size: 18px;
    margin: 0;
}
.total-iva {
    font-family: 'Goodhome', sans-serif;
    font-size: 14px;
    margin: 0;
}
.div-vacio {
    padding: 32px 0 72px;
}
.carrito-vacio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-vacio {
    margin-bottom: 32px;
}
.h1-vacio {
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: bold;
}
.p-vacio {
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
    margin-bottom: 24px;
}
.boton-vacio {
    width: 196px;
    height: 44px;
    padding: 0 16px;
    color: white;
    background-color: #E20811;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}
.boton-vacio p {
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}