body {
    background-color: #EFF0F0!important;
}
.container-fluid {
    padding: 32px 0!important;
    height: 100%;
}
h1 {
    font-family: 'Goodhome', sans-serif;
    font-size: 32px;
    font-weight: 900;
}
.span-h1 {
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
}
.panel-carrito {
    background-color: white;
    width: 900.66px;
    margin: 0 0 32px;
    padding: 8px 32px 24px;
}
.panel-finalizar {
    background-color: white;
    width: 438.33px;
    height: 365px;
    padding: 32px 32px 24px;
    margin: 0 0 24px 24px;
}
.txt-resumen {
    height: 24px;
    margin: 0 0 24px;
    font-family: 'Goodhome', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
hr {
    margin: 0;
}
.txt-estimacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.txt-estimacion p {
    margin: 0;
    padding: 14px 24px 14px 0;
}
.txt-estimacion svg{
    width: 24px;
    height: 24px;
    transform: rotate(270deg);
}
.numeros {
    padding-top: 10px;
    height: 157px;
}
.p-arriba {
    padding: 6px 0;
    margin: 0;
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
}
.total {
    padding: 3px 0 0;
    font-family: 'Goodhome', sans-serif;
    font-size: 18px;
    margin: 0;
}
.total-iva {
    margin: 0 0 10px 0;
    padding: 0 10px 11px 0;
    font-family: 'Goodhome', sans-serif;
    font-size: 14px;
}
.boton-carrito {
    width: 374.33px;
    height: 34px;
    border: none;
    border-radius: 4px;
    background-color: #E20811;
    color: white;
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
    font-weight: 900;
    padding: 0;
    margin-top: 16px;
}
.precio {
    margin: 0;
    font-family: 'Goodhome', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.boton-svg {
    width: 24px;
    height: 24px;
}
.texto-mini-logo {
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
}
.mini-logo {
    height: 13px;
    margin-bottom: 9px;
}
.item-carrito {
    height: 153px;
    padding: 20px 0 24px;
    display: flex;
}
.div-titulo {
    max-width: 1363px;
    padding: 0;
}
.imagen-pedido {
    width: 108px;
    height: 108px;
}
.item-carrito {
    height: 153px;
    padding: 20px 0 24px;
    display: flex;
}
.imagen-item-carrito {
    width: 128px;
    height: 108px;
    margin-right: 25.6px;
}
.nombre-producto {
    width: 100%;
    height: 36px;
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
    margin: 0 0 28px;
    padding: 0 0 8px;
}
.botones {
    display: flex;
    justify-content: space-between;
    width: 683.06px;
}
.botones-cantidad {
    display: flex;
    align-items: center;
}
.boton-cantidad {
    width: 44px;
    height: 44px;
    border: 1px solid #AEB2B4;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-eliminar {
    width: 44px;
    height: 44px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-eliminar {
    width: 24px;
    height: 24px;
}
.div-precio {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hr-panel {
    margin-bottom: 15px;
}
.precio-boton {
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
    margin: 0;
}
.div-centro {
    width: 100%!important;
}
