body {
    overflow-x: hidden;
}
.h2-principal {
    text-align: center;
    font-family: 'Barlow';
    font-size: 38px;
    font-weight: 900;
    margin: 0;
    padding: 10px 12px 10px 12px;
    margin-top: 20px;
}

.h2 {
    text-align: center;
    font-family: 'Barlow';
    font-size: 38px;
    font-weight: 900;
    margin: 0;
    padding: 10px 12px 10px 12px;
}    
.col-hr {
    height: 70px;
    padding: 10px 12px 10px 12px;
}
.imagen-producto {
    min-width: 272px;
    min-height: 205px;
    background-color: white;
}
.productos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 272px;
    height: 380px;
}
.productos a {
    font-family: 'Goodhome', sans-serif;
    font-size: 14px;
    padding: 6px 0;
    width: 272px;
}
.productos p {
    font-family: 'Barlow';
    font-size: 37px;
    font-weight: 900;
    margin: 0;
}
.productos span {
    font-size: 14.8px;
    margin: 0 0 0 4px;
    width: 14.35px
}
.precio-añadir {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}
.form-productos {
    max-width: 272px!important;
    max-height: 380px!important;
}
.a-input {
    padding: 0!important;
    max-width: 36px;
    max-height: 36px;
}
.h2 {
    text-align: center;
    font-family: 'Barlow';
    font-size: 38px;
    font-weight: 900!important;
    margin: 0!important;
    padding: 10px 12px 10px 12px;
}