.main {
    padding: 52px 32px 32px!important;
    background-color: #EFF0F0;
}
h1 {
    padding-left: 20px!important;
    font-family: 'Goodhome', sans-serif;
    font-weight: 700!important;
    font-size: 48px!important;
    margin-bottom: 32px!important;
}
.izquierda {
    padding: 0 26.625px 24px 20px!important;
}
.derecha {
    padding: 0!important;
}
.saludo {
    padding: 16px!important;
    background-color: #FFFFFF;
    margin-bottom: 16px;
}
.saludo h2 {
    width: auto!important;
}
.pestañas {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    background-color: #FFFFFF;
    margin: 0!important;
    height: auto;
}
.activa {
    box-shadow: inset 8px 0 0 0 #e20811;
}
.pestañas li {
    padding: 8px 16px;
    border-bottom: 1px solid #3b3d3d4f;
    display: flex;
    align-items: center;
    height: 48px;
}
.imagen-izquierda {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}
.flecha {
    margin-left: auto;
    width: 24px;
    height: 24px;
}
.pestañas li a {
    font-family: 'Goodhome', sans-serif;
    font-size: 14px;
    padding-right: 16px;
    color: #3b3d3da1!important;
    text-decoration: none;
}
h2 {
    margin: 0!important;
    margin-bottom: 22px;
    font-family: 'Goodhome', sans-serif;
    font-size: 26px!important;
}
.panel {
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    padding: 24px;
}
.primer-panel {
    display: flex;
    gap: 40px;
}
.txt-info {
    font-weight: 700;
    margin-bottom: 22px!important;
}
.informacion {
    width: 100%;
    margin-bottom: 40px;
}
.informacion span {
    font-family: 'Goodhome', sans-serif;
    font-weight: 900;
}
.hr-info {
    margin: 0!important;
    margin-top: 4px!important;
    margin-bottom: 16px!important;
}
.informacion p {
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.div-acciones {
    margin-top: 5px;
    padding-top: 15px;
    height: 43px;
}
.div-acciones a {
    border: 1px solid black;
    padding: 4px 12px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: 'Goodhome', sans-serif;
}
.mensaje-vacio {
    background-color: #FDF0D5;
    padding: 12px 20px 12px 20px;
    margin-bottom: 10px;
}
.mensaje-vacio p {
    font-family: 'Goodhome', sans-serif;
    font-size: 13px;
    margin: 0!important;
}
.input-sesion {
    height: 44px;
    width: 100%!important;
    padding: 0 9px;
    background-color: white;
    border: 1px solid #ADB1B3;
    border-radius: 5px;
    width: 608px;
}
.input-sesion:hover {
    border-color: red;
}
.input-sesion:focus {
    outline: none;
}
.guardar-datos {
    padding: 0!important;
    padding: 5px 15px!important;
    background-color: #e20811;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'Goodhome', sans-serif;
    font-weight: 900;
    float: right;
}
.form-datos {
    width: 441.36px;
}
.primer-div-form {
    margin-bottom: 40px;
}
.primer-div-form div {
    margin-bottom: 20px;
}
h3 {
    font-family: 'Goodhome', sans-serif!important;
    font-size: 16px!important;
    font-weight: bold!important;
    margin: 0 0 8px!important;
}
.div-modificar-datos{
    display: flex;
    gap: 40px;
}
.pedido {
    margin-bottom: 40px;
}
.imagen-pedido {
    width: 118px;
    height: 108px;
}
.texto-prod {
    display: flex;
    flex-direction: column;
}
h4 {
    margin: 0!important;
    font-family: 'Goodhome', sans-serif;
    font-size: 18px!important;
    font-weight: 900!important;
}
p {
    margin-bottom: 0!important;
    font-family: 'Goodhome', sans-serif;
}
.imagen-pedido {
    width: 118px; 
    height: 108px;
}
.nombre-producto {
    margin: 0!important;
    font-size: 16px;
    font-family: 'Goodhome', sans-serif;
}
.cantidad-pedido {
    display: flex;
    align-items: center;
    gap: 10px;
}
.txt-cantidad {
    font-size: 20px;
    font-weight: 900;
}
.info-prod {
    display: flex;
    align-items: center;
    gap: 10px;
}
.precio-pedido {
    font-family: 'Goodhome', sans-serif;
    font-weight: 900;
    font-size: 20px;
}