body {
    background-color: #EFF0F0!important;
    overflow-x: hidden;
}
.fondo-panel-sesion {
    padding: 32px 0 64px!important;
}
.panel-inicio-sesion {
    width: 656px!important;
    height: auto!important;
    background-color: white;
    padding: 24px!important;
}
.h1-sesion {
    font-family: 'Goodhome', sans-serif!important;
    font-size: 26px!important;
    font-weight: bold!important;
    margin: 0 0 8px!important;
    text-align: center!important;
    height: 32px!important;
    margin-top: 17px!important;
}
.div-pestañas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    margin-bottom: 16px;
}
.pestaña-activa {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    box-shadow: inset 0 -4px 0 0 #f51120 !important;
    color: #323C41;
}
.pestaña-no-activa {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    color: #6F767A;
}
.pestañas {
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    width: 304px;
    text-decoration: none;
}
.primer-div-form {
    margin-bottom: 40px;
}
.segundo-div-form {
    margin-bottom: 20px;
}
h3 {
    font-family: 'Goodhome', sans-serif!important;
    font-size: 16px!important;
    font-weight: bold!important;
    margin: 0 0 8px!important;
}
.input-sesion {
    height: 44px;
    padding: 0 9px;
    background-color: white;
    border: 1px solid #ADB1B3;
    border-radius: 5px;
    width: 608px;
}
.div-datos {
    display: flex;
    margin-top: 20px;
}
.nombre {
    padding-right: 5px;
}
.appelidos {
    padding-left: 5px;
}
.input-sesion-datos {
    height: 44px;
    padding: 0 9px;
    background-color: white;
    border: 1px solid #ADB1B3;
    border-radius: 5px;
    width: 302px;
}
.boton-inicio {
    display: flex;
    flex-direction: column;
}
.input-boton-sesion {
    height: 44px;
    padding: 7px 15px;
    background-color: #E20811;
    font-family: 'Goodhome', sans-serif;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
}
.panel-contraseña {
    background-color: #f4f4f4;
    height: 32px;
    padding: 0 9px;
    font-family: 'Goodhome', sans-serif;
    font-size: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.panel-contraseña p {
    margin: 0;
}
.coinciden {
    color: red;
    font-family: 'Goodhome', sans-serif;
    font-size: 12px;
    margin: 7px 0 0 0;
}