h1 {
    font-family: 'Barlow';
    text-align: center;
    font-weight: bold!important;
    margin: 20px 0 30px 0!important;
}
table {
    border-collapse: collapse;
    margin: 20px 20px 40px 20px;
    font-family: 'Goodhome', sans-serif;
}
table th, table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
} 
table th {
    background-color: #f2f2f2;
    height: 40.8px;
}
table tr:hover {
    background-color: #ddd;
} 
table td input {
    background-color: #222221;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
} 
table td input:hover {
    background-color: #222221af;
}
.div-navegacion {
    display: flex;
}
.btnAñadir {
    background-color: #222221;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 20px;
    font-family: 'Goodhome', sans-serif;
}
.btnAñadir:hover {
    background-color: #222221af;
}
.btnPedidos {
    background-color: #222221;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 20px;
    font-family: 'Goodhome', sans-serif;
    text-decoration: none;
}
.btnPedidos:hover {
    background-color: #222221af;
}
.div-tablas {
    display: flex;
}
