body {
    overflow-x: hidden;
}
.tool-bar1 {
    width: 100%;
    height: 38px;
    padding: 7px 0 0 0;
    background-color: #E20811;
}
.tool-bar1 p {
    text-align: center;
    color: white;
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    height: 19.2px;
}
.tool-bar2 {
    width: 100%;
    height: 38px;
    padding: 8px 56px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: end;
}
.botones-toolbar2 {
    font-family: 'Barlow', serif;
    font-size: 12px;
    font-weight: 700;
    color: #323C41;
    margin-right: 15px;
}
.btn-ubicacion {
    margin-bottom: 2px;
    width: 20px;
    height: 20px;
    color: red;
}
.botones-toolbar2-derecha {
    font-family: 'Barlow', serif;
    font-size: 12px;
    font-weight: 700;
    color: #323C41;
}
.btn-a-toolbar2 {
    text-decoration: none;
}
.header {
    height: 92px;
    padding: 16px 24px!important;
    background-color: white!important;
    /* margin: 0 36.4px 0 36.4px;
    padding: 0 32px 0 32px; */
}
.div-header {
    padding: 0 40px;
}
.logo-busqueda {
    display: flex;
}
.logo-busqueda svg {
    padding-right: 16px;
}
.logo-busqueda form {
    font-family: 'Barlow', serif;
    font-size: 25.6px;
    line-height: 1.25;
    font-weight: normal;
}
.barra-busqueda {
    min-width: 640px;
    height: 48px;
    padding: 0 48px 0 12px;
    margin: 0!important;
    border: 1px solid #adb1b3;
}
.juntar-derecha {
    display: flex!important;
    justify-content: end!important;
    align-items: end!important;
    margin: 0!important;
}
.iconos-header {
    width: 36px;
    height: 36px;
}
.boton-cuenta {
    font-family: 'Barlow';
    font-size: 16px;
    padding: 0 0 0 10px!important;
}
.fondo-menu-navegacion {
    background-color: #222221;
    padding: 0 84px;
}
.menu-navegacion {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}
.boton-menu-navegacion {
    padding: 16px 8px;
    width: 136px;
    text-align: center;
    align-items: center!important;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Barlow', serif;
    font-weight: 900;
}
.container-fluid {
    padding: 0!important;
}
.nav-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 38.4px;
}
.content-fluid {
    padding: 0!important;
}