.top {
    background-color: #E20811;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top p {
    margin: 0;
    color: white;
    font-family: 'Goodhome', sans-serif;
    font-weight: 900;
}
.top2 {
    height: 32px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: end;
    font-size: 12px;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    font-family: 'Goodhome', sans-serif;
    font-weight: 900;
}
.top2 div {
    max-height: 16px;
}
.img-top2 {
    width: 16px;
    height: 16px;
    margin-bottom: 5px;
}
.ultimos-dos {
    gap: 10px;
}
ul {
    list-style: none;
}
.iconos-header {
    width: 36px;
    height: 36px;
}