body {
    overflow-x: hidden;
}
.tool-bar1 {
    width: 100%;
    height: 38px;
    padding: 7px 0 0 0;
    background-color: #E20811;
}
.tool-bar1 p {
    text-align: center;
    color: white;
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    height: 19.2px;
}
.tool-bar2 {
    width: 100%;
    height: 38px;
    padding: 8px 56px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: end;
}
.btn-ubicacion {
    margin-bottom: 2px;
    width: 20px;
    height: 20px;
    fill: #e20811;
}
.botones-toolbar2-derecha {
    font-family: 'Barlow', serif;
    font-size: 12px;
    font-weight: 700;
    color: #323C41;
}
.btn-a-toolbar2 {
    text-decoration: none;
}
.div-header {
    padding: 0 40px;
    margin: 32px;
    height: 100%;
}
.logo-busqueda {
    display: flex;
}
.logo-busqueda svg {
    padding-right: 16px;
}
.logo-busqueda form {
    font-family: 'Barlow', serif;
    font-size: 25.6px;
    line-height: 1.25;
    font-weight: normal;
}
.barra-busqueda {
    width: 640px!important;
    height: 48px;
    padding: 0 48px 0 12px;
    margin: 0!important;
    border: 1px solid #adb1b3;
}
.icono-barra-busqueda {
    width: 24px;
    height: 24px;
    padding: 0!important;
}
.juntar-derecha {
    max-width: 229.39px!important;
    display: flex!important;
    justify-content: end!important;
    align-items: end!important;
    margin: 0!important;
}
.ul-juntar-derecha {
    margin: 0!important;
}
.iconos-header {
    width: 36px;
    height: 36px;
}
.boton-cuenta {
    font-family: 'Barlow', serif;
    font-size: 16px;
    color: #323c41!important;
    padding: 0 0 0 10px!important;
}
.boton-carrito {
    font-family: 'Barlow', serif;
    font-size: 16px;
    color: #323c41!important;
    font-weight: 900!important;
    margin: 0;
    padding: 0 0 0 0!important;
    width: 58.05px!important;
    height: 24px!important;
}
.div-cantidad {
    display: flex;
}
.cantidad {
    color: white;
    text-decoration: none;
    font-family: 'Barlow', serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #E20811;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    align-items: center;
    padding-top: 1px;
    margin-left: 8px;
    
}
.fondo-menu-navegacion {
    background-color: #222221;
    padding: 0 84px;
}
.menu-navegacion {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}
.boton-menu-navegacion {
    padding: 16px 8px;
    width: 136px;
    text-align: center;
    align-items: center!important;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Barlow', serif;
    font-weight: 900;
}
.boton-menu-navegacion:hover {
    background-color: #3c3c3a;
    box-shadow: 0 -2px 0 #c20e1a inset;
    transition: 0.3s;
}
.container-fluid {
    padding: 0!important;
}
.nav-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 38.4px;
}
.nav-item a {
    text-decoration: none;
}
.content-fluid {
    padding: 0!important;
}
.col-hr {
    padding: 0 100px!important;
}
.div-header {
    padding: 0 32px!important;
    margin: 0 32px!important;
    height: 100%;
}
.peninsula {
    font-family: 'Barlow', serif;
    font-size: 12px;
    font-weight: 700;
    color: #323C41;
    margin-right: 16px;
}
.tienda {
    font-family: 'Barlow', serif;
    font-size: 12px;
    font-weight: 700;
    color: #323C41;
    padding-right: 24px;
    margin-right: 8px;
    border-right: 1px solid black;
}
.dos-ultimos {
    font-family: 'Barlow', serif;
    font-size: 12px;
    font-weight: 700;
    color: #323C41;
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid black;
}        
.header {
    height: 92px;
    padding: 16px 0!important;
    background-color: white!important;
    height: 100%;
}